# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Other
*.sqlite3
*.db
